__pycache__
*.pyc
*.sqlite3
.vagrant/
.idea/

.librarian/
.terraform/
.terraform.tfstate*
terraform.tfstate*
terraform.tfvars

/storage_credentials.json
/vagrant/env.txt

/api/docs/site
/example_data/
/mev/dump.rdb
/mev/operations/
/mev/pending_user_uploads/
/mev/static/
/mev/user_resources/
