.DS_Store
__pycache__
*.pyc
*.sqlite3
.vagrant/
.idea/
.env

.librarian/

.terraform/
.terraform.tfstate*
terraform.tfstate*
terraform.tfvars

/api/docs/site
/example_data/
/mev/dump.rdb
/mev/operations/
/mev/pending_user_uploads/
/mev/resource_validation_tmp/
/mev/static/
/mev/user_resources/
