DB_PORT=5422
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASSWD=
PGPASSWORD=
ENVIRONMENT=dev
DJANGO_SECRET_KEY=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_USERNAME=
POPULATE_DB=
FROM_EMAIL=

# If using Gmail for your email service, specify the following:
GMAIL_ACCESS_TOKEN=
GMAIL_REFRESH_TOKEN=
GMAIL_TOKEN_URI=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_SCOPES=
