# This file is used to set various secrets and configuration parameters
# Pass a completed version of this template to the Docker container upon
# startup with the --env-file arg.

# The cloud platform determines which classes are used to hook up to 
# storage buckets, etc.
CLOUD_PLATFORM=google

###################### Database-related parameters ######################################

DB_NAME=
DB_USER=
DB_PASSWD=
PGPASSWORD=
POSTGRES_PASSWORD=

# Should we populate the database with dummy data (the same data we test with)?
# Enter "yes" (case-sensitive, without quotes) if so.  Otherwise, it will NOT populate the db
POPULATE_DB=

###################### END Database-related parameters ###################################

######################### Django-related parameters ######################################

# The secret key is used to encrypt data when making tokens, etc.
# Accordingly, make this appropriately long:
DJANGO_SECRET_KEY=

# A comma-delimited list of the hosts.  Add hosts as necessary
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# A comma-delimited list of the origins for cors requests
# Needed to hookup to front-end frameworks which may be 
# at a different domain.
DJANGO_CORS_ORIGINS=http://127.0.0.1

# For automatically creating an admin, supply the following:
# username is required, but the user model uses the email field 
# as the username.  Therefore, we auto-fill that based on the email
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_USERNAME=$DJANGO_SUPERUSER_EMAIL

####################### END Django-related parameters ###################################

###################### Storage-related parameters ######################################

# the storage backend dictates where the "absolute" source of the files is. Of course,
# to perform many operations we need to move files back and forth between local and
# cloud storage. However, only one location serves as the "ground truth", and this is
# the path that is reflected in the Resource database instances.
# Can be local, or the name of one of the cloud providers (which then allows us 
# to link up the appropriate storage class) 
STORAGE_LOCATION=

# If using local storage for all files (not recommended!), set the following:
# This is relative to the django BASE_DIR
LOCAL_USER_STORAGE_DIRNAME=user_resources

# Even if not using bucket storage as the primary storage area, we need to have access 
# to a cloud storage bucket for the remote jobs to work.
# DO NOT inlude the prefix, e.g. "gs://" or "s3://"
BUCKET_NAME=

###################### END Storage-related parameters ######################################

############################ Email-related parameters ######################################

# How to send email-- by default, we print emails to the console for dev
# If you would like to set another email backend (e.g. gmail), set this accordingly.
# See the docs and/or base_settings.py in the relevant section regarding email.
EMAIL_BACKEND_CHOICE=GMAIL

# When email is sent, this will give the "from" field.  e.g. "some name <some@email.com>" (without the quotes)
FROM_EMAIL=

# If using Gmail for your email service, specify the following:
# See docs for how to get these values.
GMAIL_ACCESS_TOKEN=
GMAIL_REFRESH_TOKEN=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=

########################## END Email-related parameters #####################################


############################ Social auth-related parameters ######################################

# a comma-delimited list giving the social auth providers to use.  Check the available
# implementations in mev/api/base_settings.py
SOCIAL_BACKENDS=GOOGLE

########################## END Social-auth-related parameters #####################################

############################ Sentry parameters ######################################

# After starting the sentry instance, tell it to configure for Django.  When you do 
# that, it will give a code snippet.  Note the "dsn" it provides, which is a URL
# that typically looks like http://<string>@<ip>:<port>/1
# Copy that url below (including the http/https prefix)
SENTRY_URL=

########################## END Sentry parameters #####################################


############################ Domain parameters ######################################

# The frontend can be located on a different server.
# This is used for communications, etc. (such as verification emails)
# which will direct the user to a link on the front-end
FRONTEND_DOMAIN=

# The domain of the API:
BACKEND_DOMAIN=

# This setting gives a "human readable" name to the site for contacts
# For instance, could be "WebMEV" or other so that emails will have a subject
# like "Registration details for WebMEV"
SITE_NAME=

########################## END Domain parameters #####################################

########################## Dockerhub parameters #########################################

DOCKERHUB_USERNAME=
DOCKERHUB_PASSWORD=

########################## END Dockerhub parameters #####################################

# directory name relative to the django BASE_DIR
# Do NOT change unless you know what you are doing!
# Since we need to share volumes across Docker containers, 
# changing this could break that shared access.
EXECUTIONS_DIR=operation_executions

# the name of the docker volume where MEV will drop data for executing operations.
# Again, do not change unless you know what you are doing.
# Note that docker-compose prepends a prefix (which can be set by the -p arg when
# starting docker-compose). The format is <prefix>_<named volume from compose yaml>
# Thus, if docker compose is started with 
`docker-compose -f docker-compose.prod.yml -p mev up -d`, and the named volume was
foo, then it would be something like "mev_foo"
EXECUTION_VOLUME=mev_execution_volume
