cromwell_machine_config = {
    machine_type     = "" 
    disk_size_gb     = 100
}

environment = ""

project_id = ""

credentials_file = ""

region = ""

zone = ""

cromwell_bucket = ""

cromwell_db_name = ""
cromwell_db_user = ""
cromwell_db_password = ""

