project_id = ""
environment = ""
credentials_file = ""

api_machine_config = {
    machine_type     = "e2-small" 
    disk_size_gb     = 20
}

cromwell_machine_config = {
    machine_type     = "e2-small" 
    disk_size_gb     = 20
}

managed_dns_zone = ""
