
//indicate that we want to use awsbatch
process.executor = 'awsbatch'

//indicate the name of the AWS Batch job queue we want to use
process.queue = '{aws_batch_queue}'

//region where we want to run this in
aws.region = '{aws_region}'

//Important note!!! Since we created a custom AMI
//we need to specify the path to the aws cli tool
aws.batch.cliPath = '/opt/aws-cli/bin/aws'

//Additionally if we want to use S3 to hold intermediate files we can specify the work directory
workDir = 's3://{nextflow_bucket_name}/{uuid}'

docker.enabled = true
